body{
    background-color: #EAF6f6;
}

hr{
    border-style: none;
    border-top-style:dotted ;
    border-color: gray;
    border-width: .5em;
    width: 75%;  
}

h1{
    color: #66BFBF;
}

h3{
    color: #ecb390;
}